html {
    font-family: 'Righteous', Garamond, Georgia , sans;
    font-size: 16px
}

body{
    background-color: rgb(241, 255, 179);
}

header{
    background-color: mediumseagreen;
    text-align: center;
    color: white;
    letter-spacing: 0.2em;
    padding: 10px;
    letter-spacing: 0.2em;

}

h1{
    background-image:url("mountain.jpg")
}
section{
    margin: 30px;
}

h3{
    padding: 20px;
    background-color: rgb(160, 204, 255);
    color: rgb(51, 51, 51);
    padding: 0.3em 0.8em;
}
h1, h2, h3 {
    font-family: 'Orbitron', Tahoma, Verdana , sans-serif;
}


nav {
    display:flex;
    justify-content: center;
    margin: 1.5em;
    font-family: 'Philosopher', Verdana, Tahoma, sans-serif;
    font-weight: 900;
}

nav a{
    text-decoration: none;
    border: 1px solid black;
    padding: 15px;
    color: #ffffff;
    background-color: rgb(8, 131, 240);
}

nav a:hover{
    color:#0682b1;
    background-color: #ffffff;
    border: 1px solid #0eb482;
}

ul{
    list-style-type: none;
}

li{
    padding:15px;
    background-image:url("list-style.png");
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 16px 16px;
    margin-bottom:0px;
}
.highlight{
    background-color:lightpink;
    font-style: italic;
    font-weight: 600;
    background-image: linear-gradient(to right,red, yellow,teal);

}
.standout{
    background-color: red;
    font-weight: bold;
    background-image:url("list-style.png");
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 16px 16px;
}

section p::first-letter{
    font-size: 24px;
    color: red;
    font-style: italic;
}

footer{
    background-color:darkseagreen ;
    padding:15px;
    color: darkred;
    font-style: italic;
    text-align: center;
    font-size: 0.8rem;

}
footer p{
    margin: 0.1em;

}
