* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

body{
    background-color: #b1ceeb;
    color: #343a40;
}
    
.page-header{
    margin-top: 40px;
    text-align:center;
 }

 .heading{
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
 }

h1{
    text-align:center;
}

.page-title{
    font-family:'Montserrat', sans-serif;
    font-weight:700;
    text-align: center;
    color:rgb(0, 163, 109);
    border: 2px solid blue ;
    padding:15px;
    border-radius: 8px;
    margin-top: 10px;
    background-color: rgb(235, 198, 198);
}

p{
  font-family: 'Open Sans', sans-serif;
  line-height: 1.6;  
}

.navigation{
    display: flex;
    justify-content: center;
    margin-top: 35px;
}

.btn{
    padding: 20px;
    font-size: 1.1rem;
    font-family: Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    margin: 10px;
}

.btn:hover{
    background-color: rgb(218, 160, 160);
}
.main-content {
    display: flex;
    justify-content: space-between;
    
}

.panel{
    border: 2px solid black;
    padding:60px;
    margin:15px;
    border-radius: 5%;

}

footer{
    padding-left: 15px;
}

.copyright{
    margin-bottom: 0;
}

